<div class="sidebar" data-background-color="white" data-color="danger">
  <div>
    <h2 class="text-center mat-input-underline py15">Simple shop </h2>
    <div  class="sidebar-wrapper ps">
      <ul  class="nav">
        <li class="nav-item active">
          <a routerLink="/" class="nav-link">
            <i class="material-icons">dashboard</i>
            <p>Main</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/products" class="nav-link">
            <i class="material-icons">dashboard</i>
            <p>Products</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/orders" class="nav-link">
            <i class="material-icons">dashboard</i>
            <p>Orders</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="main-panel ps">
  <router-outlet></router-outlet>
</div>
